$color-main: #696969;
$color-secondary: #e8e8e8;
$color-divider: #c4c4c4;
$color-input: #e8e8e8;

$color-btn-hover: #8f8e8e;

$color-available: #6fcf97;
$color-busy: #f2994a;
$color-unavailable: #eb5757;

$color-font: #333333;
$color-font-secondary: #000000;
$color-font-muted: #717171;
$color-font-light: #ffffff;
$color-font-light-muted: #cbcaca;

$color-font-logo: #e8e8e8;

$content-width: 1152px;
